<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alesna.moodify">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        xmlns:tools="http://schemas.android.com/tools"
        tools:replace="android:icon,android:theme"
        android:name=".service.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_moodify"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_moodify"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".WelcomeActivity"></activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MainMenuActivity" android:launchMode="singleTop"/>
        <activity
            android:name=".ScanDeviceActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".DaftarActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.alesna.moodify.MainActivity" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.ActivityRecognitionService" />
    </application>

</manifest>